// Font
$font_sans: 'SourceSans', sans-serif;
$font_josefin: 'Josefin', sans-serif;

// Colors
$background: #fbfbfb;
$white: #ffffff;
$black: #000000;
$gray: #595959;
$dark_gray: #444444;
$content_background: #ebebeb;
$content_line: #cdcdcd;
$cream: #e1bc62;
$red: #cd222a;